nnoremap <SPACE> <Nop>
let mapleader=" "

" >>
" vim 自身（非插件）快捷键

" 复制粘贴
nnoremap <Leader>p "+p
vnoremap <Leader>p "+p
vnoremap <Leader>y "+y



" 插入模式下光标移动
"inoremap <C-h> <Left>
"inoremap <C-j> <Down>
"inoremap <C-k> <Up>
"inoremap <C-l> <Right>


" <<

" >>
" 其他

" 开启实时搜索功能
set incsearch

" 搜索时大小写不敏感
set ignorecase

" vim 默认使用系统剪切板
" set clipboard=unnamed

" surround插件
set surround
" <<

" >>
" 营造专注气氛

" <<

" >>
" 辅助信息

" 开启行号显示
set number
set so=3

" 高亮显示搜索结果
set hlsearch

" <<

" >>
" 其他美化

" 禁止折行
set nowrap

" <<

" >>
" 语法分析

" 开启语法高亮功能
syntax enable
" 允许用指定语法高亮配色方案替换默认方案
syntax on

" <<

" >>
" 跳转流-g
" GotoImplementation
:map gi :action GotoImplementation<CR>
" GotoSuperMethod
:map gs :action GotoSuperMethod<CR>
" JumpToLastChange
:map gl :action JumpToLastChange<CR>
" JumpToNextChange
:map gp :action JumpToNextChange<CR>
" GotoNextError
:map ge :action GotoNextError<CR>
" GotoPreviousError
:map gE :action GotoPreviousError<CR>
" AceAction
:map <Leader><Leader> :action AceAction<CR>

" 窗口流-w
nnoremap <Leader>ws <C-w><C-w>
nnoremap <Leader>wo <C-w>o
nnoremap <Leader>wc <C-w>c
nnoremap <Leader>wv <C-w>v

" 开关流-t
" EditorToggleUseSoftWraps
:map <Leader>tw :action EditorToggleUseSoftWraps<CR>

" Git流-g
" QuickListPopupAction
:map <Leader>gl :action Vcs.QuickListPopupAction<CR>
" Commit
:map <Leader>gc :action ChangesView.Commit<CR>
" Revert
:map <Leader>gr :action ChangesView.Revert<CR>
" Rollback
:map <Leader>gb :action Vcs.RollbackChangedLines<CR>
" Vcs.UpdateProject
:map <Leader>gu :action Vcs.UpdateProject<CR>
" Compare.LastVersion
:map <Leader>gd :action Compare.LastVersion<CR>
" Vcs.Push
:map <Leader>gp :action Vcs.Push<CR>

" 查找流-f
" RecentFiles
:map <Leader>fr :action RecentFiles<CR>
" ActivateProjectToolWindow
:map <Leader>fp :action ActivateProjectToolWindow<CR>
" GotoClass
:map <Leader>fc :action GotoClass<CR>
" GotoFile
:map <Leader>ff :action GotoFile<CR>
" FindUsages
:map <Leader>fu :action FindUsages<CR>
" CallHierarchy
:map <Leader>fh :action CallHierarchy<CR>
" FindInPath
:map <Leader>fw :action FindInPath<CR>
" EditorTranslateAction
:map <Leader>ft :action EditorTranslateAction<CR>

" 重构流-r
" Refactorings.QuickListPopupAction
:map <Leader>rl :action Refactorings.QuickListPopupAction<CR>
" SurroundWith
:map <Leader>rs :action SurroundWith<CR>
" Unwrap
:map <Leader>ru :action Unwrap<CR>
" Rename
:map <Leader>rn :action RenameElement<CR>
" ChangeSignature
:map <Leader>rf :action ChangeSignature<CR>
" Generate
:map <Leader>rg :action ChangeSignature<CR>
" IntroduceVariable
:map <Leader>rv :action IntroduceVariable<CR>

" 调试-d
" Run
:map <Leader>dr :action Run<CR>
" ChooseRunConfiguration
:map <Leader>dl :action ChooseRunConfiguration<CR>
" Debug
:map <Leader>db :action Debug<CR>
" Attach
:map <Leader>da :action AndroidConnectDebuggerAction<CR>
" Run ADB Clear
:map <Leader>dc :action com.developerphil.adbidea.action.ClearDataAndRestartAction<CR>

" 工程流-p
" Rebuild Project
:map <Leader>rb :action RebuildGradleProject<CR>
" SyncProject
:map <Leader>sn :action Android.SyncProject<CR>
" CloseProject
:map <Leader>cp :action CloseProject<CR>
" ShowIntentionActions
:map <Leader>fs :action ShowIntentionActions<CR>

" 工具流-b
" ActivateAndroidMonitorToolWindow
:map <Leader>ba :action ActivateAndroidMonitorToolWindow<CR>
" ActivateVersionControlToolWindow
:map <Leader>bv :action ActivateVersionControlToolWindow<CR>
" ActivateTerminalToolWindow
:map <Leader>bt :action ActivateTerminalToolWindow<CR>
" ActivateMessagesToolWindow
:map <Leader>bm :action ActivateMessagesToolWindow<CR>
" ActivateGradleConsoleToolWindow
:map <Leader>bg :action ActivateGradleConsoleToolWindow<CR>

" GotoBookmark0
:map `A :action GotoBookmark0<CR>
" GotoBookmark1
:map `B :action GotoBookmark1<CR>
" GotoBookmark2
:map `C :action GotoBookmark2<CR>
" GotoBookmark3
:map `D :action GotoBookmark3<CR>
" GotoBookmark4
:map `E :action GotoBookmark4<CR>

" ToggleBookmark0
:map mA :action ToggleBookmark0<CR>
" ToggleBookmark1
:map mB :action ToggleBookmark1<CR>
" ToggleBookmark2
:map mC :action ToggleBookmark2<CR>
" ToggleBookmark3
:map mD :action ToggleBookmark3<CR>
" ToggleBookmark4
:map mE :action ToggleBookmark4<CR>
" <<